@model MatrixModel
@{
    ViewData["Title"] = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Send" enctype="multipart/form-data">
            <div class="form-group">
                <input asp-for="Dimension" placeholder="Matrix dimension" aria-label="Message" class="form-control font-weight-light" type="text"/>
            </div>
            <div class="form-group">
                <label asp-for="CountOfProcess" class="control-label"></label> 
                <input asp-for="CountOfProcess" placeholder="Matrix dimension" aria-label="Message" class="form-control font-weight-light" type="text"/>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="IsDataOnServer" class="control-label"></label> 
                    <input asp-for="IsDataOnServer" class="form-check-input" type="checkbox"> 
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-primary" type="submit" value="Send"/>
            </div>
        </form>
    </div>
</div>